.playListInfoBox {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 1rem;
}

.playListTitle {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0.75rem 0 0.5rem;
}

.playListMeta p {
  font-weight: 400;
  margin: 12px 0;
  color: #767676;
  font-size: 0.9rem;
}

.playListCover {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.playListCover img {
  width: 100%;
  height: 100%;
}
