.button {
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-transform: none;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}
